{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-center">About Us</h1>
        <p class="lead text-center">
            Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django)[6] is a free and open-source, Python-based web
            framework that follows the model–template–views (MTV) architectural pattern.[7][8] It is maintained by the
            Django Software Foundation (DSF), an independent organization established in the US as a 501(c)(3)
            non-profit.
        </p>

        <div class="row my-5">
            <div class="col-md-6">
                <h2>Our Mission</h2>
                <p>
                    Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django)[6] is a free and open-source,
                    Python-based web framework that follows the model–template–views (MTV) architectural pattern.[7][8]
                    It is maintained by the Django Software Foundation (DSF), an independent organization established in
                    the US as a 501(c)(3) non-profit.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <p>
                    Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django)[6] is a free and open-source,
                    Python-based web framework that follows the model–template–views (MTV) architectural pattern.[7][8]
                    It is maintained by the Django Software Foundation (DSF), an independent organization established in
                    the US as a 501(c)(3) non-profit.
                </p>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-4">
                <h3>Our Team</h3>
                <p>
                    Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django)[6] is a free and open-source,
                    Python-based web framework that follows the model–template–views (MTV) architectural pattern.[7][8]
                    It is maintained by the Django Software Foundation (DSF), an independent organization established in
                    the US as a 501(c)(3) non-profit.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Our Values</h3>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Our Achievements</h3>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}