{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ task.name }}</h1>
        <p><strong>上传的文件:</strong> <a href="{{ task.uploaded_file.url }}">{{ task.uploaded_file.name }}</a></p>
        <p><strong>创建的时间:</strong> {{ task.created }}</p>
        <p><strong>最后状态更新的时间:</strong> {{ task.updated }}</p>
        <p><strong>诊断状态:</strong> {{ task.get_diagnosis_status_display }}</p>
        {% if task.diagnosis_result_file %}
            <p><strong>诊断结果文件:</strong>
                <a href="{{ task.diagnosis_result_file.url }}">{{ task.diagnosis_result_file.name }}</a>
            </p>
            <p><strong>诊断结果图示:</strong></p>
            <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
            <div id="barChart" style="width: 600px;height:400px;"></div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('barChart'));

                // 指定图表的配置项和数据
                var data = JSON.parse('{{ diagnosis_result_json_data|safe }}');
                const count = {};
                for (const key in data) {
                    const value = data[key];
                    if (count[value] === undefined) {
                        count[value] = 1;
                    } else {
                        count[value]++;
                    }
                }
                var option = {
                    title: {
                        text: '柱状图示例',
                        subtext: '数据来自诊断数据'
                    },
                    xAxis: {
                        type: 'category',
                        data: Object.keys(count)
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: Object.values(count),
                        type: 'bar'
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>
        {% endif %}

    </div>
{% endblock %}
