{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="container my-5">
        <h1 class="text-center">欢迎来到</h1>
        <h1 class="text-center">基于机器学习的分布式系统故障诊断系统</h1>
        <p class="lead text-center">
            Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django)[6] is a free and open-source, Python-based web
            framework that follows the model–template–views (MTV) architectural pattern.[7][8] It is maintained by the
            Django Software Foundation (DSF), an independent organization established in the US as a 501(c)(3)
            non-profit.
        </p>
    </div>

    <div class="container-fluid bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Feature 1</h2>
                    <p>
                        Despite having its own nomenclature, such as naming the callable objects generating the HTTP
                        responses "views",[7] the core Django framework can be seen as an MVC architecture.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Feature 2</h2>
                    <p>
                        The main Django distribution also bundles a number of applications in its "contrib" package,
                        including:

                        an extensible authentication system
                        the dynamic administrative interface
                        tools for generating RSS and Atom syndication feeds
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Feature 3</h2>
                    <p>
                        Django's configuration system allows third party code to be plugged into a regular project,
                        provided that it follows the reusable app[21] conventions. More than 5000 packages[22] are
                        available to extend the framework's original behavior, providing solutions to issues the
                        original tool didn't tackle: registration, search, API provision and consumption, CMS, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}