{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header ">{{ form.title }}</div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary center">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        {% if msg %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ msg }}
            </div>
        {% endif %}
    </div>
{% endblock %}